#u105
{
	border-width: 0px;
	box-shadow: 1px 1px 12px rgba(0,0,0,0.15);
	background-color: #FFFFFF;
	-pie-box-shadow: 1px 1px 12px #D8D8D8;
	border-color: transparent;
}

.MenuItem
{
	cursor: pointer;
}

#u5492
{
	border-width: 0px;
	background-color: transparent;
	border-color: transparent;
}

#u4781
{
	background-color: #1F2126;
}

#u4851-4
{
	color: #FFFFFF;
	line-height: 24px;
	font-size: 15px;
	font-family: roboto, sans-serif;
	opacity: 0.8;
	font-weight: 300;
	background-color: transparent;
	filter: alpha(opacity=80);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

#buttonu4868
{
	border-width: 1px;
	-webkit-transition-duration: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	-webkit-transition-delay: 0s;
	background-color: #01B1D7;
	border-radius: 100px;
	border-color: #01B1D7;
	background-image: url("../images/blank.gif");
	border-style: solid;
}

#buttonu4868:hover
{
	border-color: #353535;
	-webkit-opacity: 0.9999;/* for chrome transition bug */
	transition-timing-function: ease;
	-webkit-transition-duration: 0.5s;
	transition-delay: 0s;
	-webkit-transition-delay: 0s;
	background-color: #353535;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.5s;
}

#buttonu4868.ButtonSelected
{
	-webkit-opacity: 0.9999;/* for chrome transition bug */
	border-color: #01B1D7;
	transition-duration: 0s;
	-webkit-transition-delay: 0s;
	background-color: #01B1D7;
	-webkit-transition-duration: 0s;
	transition-delay: 0s;
}

#u4869-4
{
	color: #FFFFFF;
	line-height: 18px;
	font-weight: 700;
	font-size: 15px;
	text-align: left;
	font-family: roboto, sans-serif;
	background: transparent url("../images/view%20more_white.png") no-repeat right center;
}

#buttonu4868:hover #u4869-4,#buttonu4868.ButtonSelected #u4869-4
{
	background-repeat: no-repeat;
	background-position: right center;
}

#u413,#u4843,#u5312
{
	background-color: transparent;
}

#u4862-4
{
	color: #FFFFFF;
	line-height: 24px;
	text-align: left;
	font-weight: 800;
	border-width: 0px;
	background-color: transparent;
	font-size: 20px;
	font-family: raleway, sans-serif;
}

#u4854-16
{
	line-height: 25px;
	text-align: left;
	opacity: 0.8;
	border-width: 0px;
	background-color: transparent;
	filter: alpha(opacity=80);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

#u4854-2,#u4854-4,#u4854-6,#u4854-8,#u4854-10,#u4854-12
{
	color: #FFFFFF;
	font-weight: 300;
	font-family: roboto, sans-serif;
}

#u4854-14
{
	color: #E13A3A;
	font-weight: 700;
	font-family: roboto, sans-serif;
}

#u4840
{
	background-color: #FFFFFF;
	filter: alpha(opacity=15);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=15)";
	opacity: 0.15;
}

#buttonu5304,#buttonu4821,#buttonu4813,#buttonu4805,#buttonu4790
{
	-webkit-transition-delay: 0s;
	-webkit-transition-duration: 0s;
	transition-duration: 0s;
	border-width: 0px;
	border-radius: 0px;
	border-color: transparent;
	transition-delay: 0s;
	background-image: url("../images/blank.gif");
}

#buttonu5304:hover,#buttonu4821:hover,#buttonu4813:hover,#buttonu4805:hover,#buttonu4790:hover
{
	-webkit-opacity: 0.9999;/* for chrome transition bug */
	transition-timing-function: ease;
	-webkit-transition-duration: 1s;
	transition-delay: 0s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	-pie-background: rgba(255,255,255,0.3);
}

#buttonu5304.ButtonSelected,#buttonu4821.ButtonSelected,#buttonu4813.ButtonSelected,#buttonu4805.ButtonSelected,#buttonu4790.ButtonSelected
{
	-webkit-opacity: 0.9999;/* for chrome transition bug */
	-webkit-transition-duration: 0s;
	transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	-pie-background: rgba(255,255,255,0.1);
}

#u5305,#u4822,#u4814,#u4806,#u4791
{
	color: #FFFFFF;
	line-height: 18px;
	text-align: center;
	border-color: transparent;
	border-width: 0px;
	background-color: transparent;
	font-size: 14px;
}

#u4837-4
{
	color: #FFFFFF;
	line-height: 19px;
	font-size: 16px;
	font-family: roboto, sans-serif;
	opacity: 0.6;
	font-weight: 300;
	background-color: transparent;
	filter: alpha(opacity=60);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}

@media (min-width: 901px)
{
	#menuu106
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	.hvr-underline-from-left
	{
		border-width: 0px;
		border-color: #000000;
		background-color: transparent;
	}

	#u145-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #353535;
		font-size: 14px;
		text-align: center;
		font-family: roboto, sans-serif;
		font-weight: 700;
	}

	#u130-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #353535;
		text-align: center;
		font-family: roboto, sans-serif;
		font-weight: 700;
	}

	#u139-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #353535;
		text-align: center;
		font-family: roboto, sans-serif;
		font-weight: 700;
	}

	#u125-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #353535;
		text-align: center;
		font-family: roboto, sans-serif;
		font-weight: 700;
	}

	#u109-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #353535;
		text-align: center;
		font-family: roboto, sans-serif;
		font-weight: 700;
	}

	#u142,#u128,#u135,#u121,#u107,#u114
	{
		background-color: transparent;
	}

	#u118-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #353535;
		text-align: center;
		font-family: roboto, sans-serif;
		font-weight: 700;
	}

	#u143.MuseMenuActive #u145-4 p,#u129.MuseMenuActive #u130-4 p,#u136.MuseMenuActive #u139-4 p,#u124.MuseMenuActive #u125-4 p,#u108.MuseMenuActive #u109-4 p,#u117.MuseMenuActive #u118-4 p
	{
		color: #01B1D7;
		visibility: inherit;
	}

	#u4781_align_to_page
	{
		max-width: 1290px;
	}

	#buttonu5304
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,0.1);
	}

	#buttonu5304:hover
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,0.3);
	}

	#buttonu5304.ButtonSelected
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,0.1);
	}

	#buttonu4821
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,0.1);
	}

	#buttonu4821:hover
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,0.3);
	}

	#buttonu4821.ButtonSelected
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,0.1);
	}

	#buttonu4813
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,0.1);
	}

	#buttonu4813:hover
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,0.3);
	}

	#buttonu4813.ButtonSelected
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,0.1);
	}

	#buttonu4805
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,0.1);
	}

	#buttonu4805:hover
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,0.3);
	}

	#buttonu4805.ButtonSelected
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,0.1);
	}

	#buttonu4790
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,0.1);
	}

	#buttonu4790:hover
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,0.3);
	}

	#buttonu4790.ButtonSelected
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,0.1);
	}

}

@media (min-width: 701px) and (max-width: 900px)
{
	#menuu106
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	.hvr-underline-from-left
	{
		border-width: 0px;
		border-color: #000000;
		background-color: transparent;
	}

	#u145-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #353535;
		font-size: 14px;
		text-align: center;
		font-family: roboto, sans-serif;
		font-weight: 700;
	}

	#u130-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #353535;
		text-align: center;
		font-family: roboto, sans-serif;
		font-weight: 700;
	}

	#u139-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #353535;
		text-align: center;
		font-family: roboto, sans-serif;
		font-weight: 700;
	}

	#u125-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #353535;
		text-align: center;
		font-family: roboto, sans-serif;
		font-weight: 700;
	}

	#u109-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #353535;
		text-align: center;
		font-family: roboto, sans-serif;
		font-weight: 700;
	}

	#u142,#u128,#u135,#u121,#u107,#u114
	{
		background-color: transparent;
	}

	#u118-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #353535;
		text-align: center;
		font-family: roboto, sans-serif;
		font-weight: 700;
	}

	#u143.MuseMenuActive #u145-4 p,#u129.MuseMenuActive #u130-4 p,#u136.MuseMenuActive #u139-4 p,#u124.MuseMenuActive #u125-4 p,#u108.MuseMenuActive #u109-4 p,#u117.MuseMenuActive #u118-4 p
	{
		color: #01B1D7;
		visibility: inherit;
	}

	#u4781_align_to_page
	{
		max-width: 900px;
	}

	#buttonu5304
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,0.1);
	}

	#buttonu5304:hover
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,0.3);
	}

	#buttonu5304.ButtonSelected
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,0.1);
	}

	#buttonu4821
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,0.1);
	}

	#buttonu4821:hover
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,0.3);
	}

	#buttonu4821.ButtonSelected
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,0.1);
	}

	#buttonu4813
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,0.1);
	}

	#buttonu4813:hover
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,0.3);
	}

	#buttonu4813.ButtonSelected
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,0.1);
	}

	#buttonu4805
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,0.1);
	}

	#buttonu4805:hover
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,0.3);
	}

	#buttonu4805.ButtonSelected
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,0.1);
	}

	#buttonu4790
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,0.1);
	}

	#buttonu4790:hover
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,0.3);
	}

	#buttonu4790.ButtonSelected
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,0.1);
	}

	#u4837-4
	{
		text-align: center;
	}

}

@media (max-width: 700px)
{
	#u18020-3
	{
		border-color: #FFFFFF;
		line-height: 14px;
		color: #999999;
		font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
		background: transparent url("../images/menu_normal.png") no-repeat center center;
	}

	#u18020-3:active
	{
		background: transparent url("../images/menu_normal.png") no-repeat center center;
	}

	#u18020-3.AccordionPanelTabOpen
	{
		background: transparent url("../images/menu_active.png") no-repeat center center;
	}

	#u18021
	{
		border-color: #FFFFFF;
		background-color: #1F2126;
	}

	#accordionu18018,#menuu18955
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u18959
	{
		border-style: solid;
		border-color: #060606;
		background-color: #1F2126;
		border-width: 0px 0px 1px;
	}

	#u18959:hover
	{
		border-color: #01B1D7;
		background-color: #01B1D7;
	}

	#u18960-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		text-align: center;
		font-family: roboto, sans-serif;
		font-weight: 700;
	}

	#u18959:hover #u18960-4 p
	{
		color: #FFFFFF;
		visibility: inherit;
	}

	#u18964
	{
		border-style: solid;
		border-color: #060606;
		background-color: #1F2126;
		border-width: 0px 0px 1px;
	}

	#u18959.MuseMenuActive,#u18964:hover
	{
		border-color: #01B1D7;
		background-color: #01B1D7;
	}

	#u18967-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		text-align: center;
		font-family: roboto, sans-serif;
		font-weight: 700;
	}

	#u18959.MuseMenuActive #u18960-4 p,#u18964:hover #u18967-4 p,#u18964:hover #u18967-4 span,#u18964.MuseMenuActive #u18967-4 p,#u18964.MuseMenuActive #u18967-4 span
	{
		color: #FFFFFF;
		visibility: inherit;
	}

	#u18980
	{
		border-style: solid;
		border-color: #060606;
		background-color: #1F2126;
		border-width: 0px 0px 1px;
	}

	#u18964.MuseMenuActive,#u18980:hover
	{
		border-color: #01B1D7;
		background-color: #01B1D7;
	}

	#u18981-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		text-align: center;
		font-family: roboto, sans-serif;
		font-weight: 700;
	}

	#u18980:hover #u18981-4 p,#u18980:hover #u18981-4 span,#u18980.MuseMenuActive #u18981-4 p,#u18980.MuseMenuActive #u18981-4 span
	{
		color: #FFFFFF;
		visibility: inherit;
	}

	#u18971
	{
		border-style: solid;
		border-color: #060606;
		background-color: #1F2126;
		border-width: 0px 0px 1px;
	}

	#u18980.MuseMenuActive,#u18971:hover
	{
		border-color: #01B1D7;
		background-color: #01B1D7;
	}

	#u18973-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		text-align: center;
		font-family: roboto, sans-serif;
		font-weight: 700;
	}

	#u18971:hover #u18973-4 p,#u18971:hover #u18973-4 span,#u18971.MuseMenuActive #u18973-4 p,#u18971.MuseMenuActive #u18973-4 span
	{
		color: #FFFFFF;
		visibility: inherit;
	}

	#u18994
	{
		border-style: solid;
		border-color: #060606;
		background-color: #1F2126;
		border-width: 0px 0px 1px;
	}

	#u18971.MuseMenuActive,#u18994:hover
	{
		border-color: #01B1D7;
		background-color: #01B1D7;
	}

	#u18996-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		text-align: center;
		font-family: roboto, sans-serif;
		font-weight: 700;
	}

	#u18994:hover #u18996-4 p,#u18994:hover #u18996-4 span,#u18994.MuseMenuActive #u18996-4 p,#u18994.MuseMenuActive #u18996-4 span
	{
		color: #FFFFFF;
		visibility: inherit;
	}

	#u18019,#u18956,#u18963,#u18977,#u18970,#u18991,#u18984
	{
		background-color: transparent;
	}

	#u18985
	{
		border-style: solid;
		border-color: #060606;
		background-color: #1F2126;
		border-width: 0px 0px 1px;
	}

	#u18994.MuseMenuActive,#u18985:hover
	{
		border-color: #01B1D7;
		background-color: #01B1D7;
	}

	#u18985.MuseMenuActive
	{
		border-color: #01B1D7;
		background-color: #01B1D7;
	}

	#u18988-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #FFFFFF;
		text-align: center;
		font-family: roboto, sans-serif;
		font-weight: 700;
	}

	#u18985:hover #u18988-4 p,#u18985:hover #u18988-4 span,#u18985.MuseMenuActive #u18988-4 p,#u18985.MuseMenuActive #u18988-4 span
	{
		color: #FFFFFF;
		visibility: inherit;
	}

	.AccordionPanelTab /* accordion */
	{
		cursor: pointer;
	}

	#u4781_align_to_page
	{
		max-width: 700px;
	}

	#buttonu5304
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,0.1);
	}

	#buttonu5304:hover
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,0.3);
	}

	#buttonu5304.ButtonSelected
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,0.1);
	}

	#buttonu4821
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,0.1);
	}

	#buttonu4821:hover
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,0.3);
	}

	#buttonu4821.ButtonSelected
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,0.1);
	}

	#buttonu4813
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,0.1);
	}

	#buttonu4813:hover
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,0.3);
	}

	#buttonu4813.ButtonSelected
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,0.1);
	}

	#buttonu4805
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,0.1);
	}

	#buttonu4805:hover
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,0.3);
	}

	#buttonu4805.ButtonSelected
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,0.1);
	}

	#buttonu4790
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,0.1);
	}

	#buttonu4790:hover
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,0.3);
	}

	#buttonu4790.ButtonSelected
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,0.1);
	}

	#u4837-4
	{
		text-align: center;
	}

}

